* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.75em;
  margin: 40px;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

h1 {
  font-size: 1.5em;
  margin-top: 1.75em;
  margin-bottom: .5em;
}

h3 {
  margin-top: 1.75em;
  margin-bottom: .5em;
}

h4 {
  margin-top: 1.75em;
  margin-bottom: .5em;
}

li {
  margin-left: 2em;
  margin-bottom: .5em;
}

a:link {
  text-decoration: none;
  color: #ddf;
}

a:visited {
  color: #ccc
}

a:hover {
  color: #eef;
}

input {
  font-size: 1em;
  background: #eef;
}

input:focus {
  background: #ffffff;
}

nav {
  font: 1.5em;
}

li {
  line-height: 1.5em;
}

select {
  font-size: 1em;
  height: 1.5em;
  padding: 2px;
  background-color: #eee;
}

.container {
  margin: auto;
  max-width: 640px;
  margin-top: 10px;
}

.header {
  margin-top: 10px;
}

.title {
  font-family: Papyrus, 'Nothing You Could Do', fantasy;
  font-size: 4em;
  line-height: normal;
}

.sub-title {
  font-size: 1em;
}

.home {
  font-family: Papyrus, 'Nothing You Could Do', fantasy;
  font-size: 1.5em;
  padding-left: 6px;
}

.review {
  background-color: #fff;
  padding: 20px;
  color: #000;
  font-size: .9em;
  line-height: normal;
  border-radius: 8px;
}

.button {
  font-size: 1em;
  border-radius: 4px;
  background-color: #8a8;
  padding: 8px;
}

.spacer {
  margin-left: 6px;
  margin-right: 6px;
}

.images {
  display: flex;
  justify-content: space-between;
}

.image {
  flex: 0 0 auto;
}

.image:last-child {
  margin-right: 0;
}

/* Navbar styles */
.navbar {
  background-color: #8a8;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 6px 6px;
}

.navbar-brand {
  color: #eee;
  font-weight: 400;
  text-decoration: none;
  margin-right: 6px;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  font-size: .9em;
  color: #eee;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #fff;
}

/* Sub-menu styles */
.sub-menu {
  display: none;
  position: absolute;
  background-color: #9b9;
  padding: 8px;
  border: 1px solid #888;
}

.nav-item:hover .sub-menu {
  display: block;
}

.sub-menu-item {
  margin: 6px 0;
  list-style-type: none;
}

/* Hamburger menu styles */
.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding-left: 6px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

.motto {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.item {
  padding: 0px;
  text-align: center;
  font-size: .5em;
  flex: 1;
  margin: 0 10px;
}

.item:first-child {
  margin-left: 0;
}

.item:last-child {
  margin-right: 0;
}

.brain {
  margin-top: 10px;
  margin-bottom: 8px;
}

.arrow {
  color: rgb(168, 73, 200);
  font-size: 28px;
  margin-top: 26px;
  margin-bottom: 12px;
}

.email {
  display: none;
}

/* Small devices */
@media only screen and (max-width: 744px) {

  /* Adjust some sizes */

  body {
    width: 100%;
    font-size: .95em;
    background-color: #000;
    margin: 10px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .container {
    max-width: 90%;
    margin: 10px;
  }

  .title {
    font-size: 3em;
    font-family: Papyrus, 'Nothing You Could Do', fantasy;
    line-height: 1em;
  }

  .sub-title {
    font-size: 1em;
  }

  .colon {
    margin-left: 1px;
    margin-right: 1px;
  }

  .hide {
    display: none;
  }

  .navbar-nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 60px;
    width: 60%;
    background-color: #8a8;
  }

  .navbar-brand {
    display: none;
  }
    
  .nav-item {
    margin: 10px;
  }

  .navbar-nav.active {
    display: flex;
  }

  .hamburger-menu {
    display: flex;
    margin-right: 4px;
  }

}